@import "mixins";

.interior {
    background: url(common/beige-grain.jpg) no-repeat 0 0 / cover;
    &__explanation {
        text-align: center;
        &__title {
        }
        &__text {
        }
    }
    &__title {
        text-align: center;
    }
    &__process {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &__content {
            margin: 0 2px;
            text-align: center;
            width: calc(33% - 2px);
            &__img {
                width: 80%;
            }
        }
    }
    &__example {
        &__contents {
            text-align: center;
            margin: 1%;
            border: solid #000000 3px;
            padding: 1%;
            border-radius: 10px;
            @include media("pc") {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &__content {
                margin: 0 5%;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 9;
                /* ブラウザがサポートしていない場合のフェールセーフ */
                max-height: 300px;
                width: 50%;
                &__title {
                    @include media("sp") {
                        font-size: 80%;
                    }
                }
                &__text {
                    font-size: 100%;
                    @include media("sp") {
                        font-size: 80%;
                    }
                }
            }
            &__imgs {
                display: flex;
                justify-content: end;
                width: 50%;
                @include media("sp") {
                    align-items: center;
                }
                &__img-content {
                    min-width: 25%;
                    text-align: center;
                    @include media("sp") {
                        max-width: 30%;
                    }
                    &__before,
                    &__after {
                        max-width: 100%;
                        height: auto;
                    }
                    &__arrow {
                        width: 10%;
                    }
                }
            }
        }
    }
}
