@import "mixins";

.top {
    background: url(common/beige-grain.jpg) no-repeat 0 0 / cover;
    &__main {
        &__text {
            text-align: center;
        }
        &__recently {
            text-align: center;
            margin-top: 5%;
            &__first {
                @include media("tbAndPc") {
                    display: flex;
                    justify-content: space-around;
                }
            }
            &__second {
                @include media("tbAndPc") {
                    display: flex;
                    justify-content: space-around;
                }
            }
            &__content {
                text-align: center;
                &__title {
                    font-size: 120%;
                    margin-bottom: 2%;
                    font-weight: bold;
                }
                &__container {
                    position: relative;
                    &__before {
                        &__text {
                            font-size: 150%;
                            color: blue;
                        }
                        &__image {
                            width: 65%;
                            border-radius: 50%;
                        }

                        @include media("spAndTb") {
                            animation: fadeInOut 5s infinite;
                        }
                    }
                    &__after {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        opacity: 0;
                        width: 100%;
                        &__text {
                            font-size: 150%;
                            color: red;
                        }
                        &__image {
                            width: 65%;
                            border-radius: 50%;
                        }
                        @include media("spAndTb") {
                            animation: fadeInOut 5s infinite 2.5s;
                        }
                    }
                    @include media("pc") {
                        :hover > &__before {
                            opacity: 0;
                        }
                        :hover > &__after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    &__achievement {
        text-align: center;
        margin-top: 10%;
        &__contents {
            &__content {
                margin: 2%;
                display: flex;
                max-height: 300px;
                align-items: center;
                justify-content: space-between;
                border: solid #000000 3px;
                padding: 1%;
                border-radius: 10px;
                &__explanation {
                    margin: 0 5%;
                    overflow: hidden;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 9;
                    /* ブラウザがサポートしていない場合のフェールセーフ */
                    max-height: 300px;
                    max-width: 470px;
                    &__title {
                        @include media("sp") {
                            font-size: 80%;
                        }
                    }
                    &__text {
                        @include media("sp") {
                            font-size: 80%;
                        }
                    }
                }
                &__images {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &__content {
                        min-width: 30%;
                        text-align: center;
                        &__img {
                            width: 100%;
                        }
                    }
                    &__arrow {
                        width: 15%;
                    }
                }
            }
        }
    }
    &__priceList {
        margin-top: 10%;
        &__title {
            text-align: center;
            font-size: 170%;
        }
        &__table {
            margin: 0 auto;
            text-align: center;
            &__row {
                &__kind {
                    @include media("tbAndPc") {
                        padding: 0 5%;
                    }
                    @include media("sp") {
                        font-size: 75%;
                    }
                    br {
                        display: none;
                        @include media("spAndTb") {
                            display: block;
                        }
                    }
                }
                &__price {
                    @include media("sp") {
                        font-size: 80%;
                    }
                }
            }
        }
    }
    &__info {
        text-align: center;
        &__mail {
            margin: 3%;
        }
        &__phone {
            margin: 3%;
        }
        &__under {
            display: flex;
            justify-content: center;
            padding-bottom: 5%;
            &__blog {
                margin-right: 5%;
            }
        }
    }
}
@keyframes fadeInOut {
    0% {
        //0s
        opacity: 0;
    }
    1% {
        //0.5s
        opacity: 1;
    }
    50% {
        //5s
        opacity: 1;
    }
    51% {
        // 5.5s
        opacity: 0;
    }
    100% {
        //10s
        opacity: 0;
    }
}
