<div class="administrator">
    <a class="link" href="/administrator/top">TOP</a>
    <a class="link" href="/administrator/interior">interior</a>
    <a class="link" href="/administrator/headlight">headlight</a>
    <a class="link" href="/administrator/wheel">wheel</a>
    <a class="link" href="/administrator/indoor_cleaning">indoor_cleaning</a>
</div>