<div class="footer">
    <div class="footer__phone">
        <span class="footer__phone__title">電話番号：</span>
        <span class="footer__phone__number">
            <a href="tel:090-9826-3740">📞090-9826-3740</a>
        </span>
    </div>
    <div class="footer__mail">
        <a href="mailto:kobachoro@nifty.com">メールアドレスでお問い合わせ</a>
    </div>
    <div class="footer__under">
        <div class="footer__under__blog">
            <a
                href="https://kobachoro.blog.fc2.com/blog-category-5.html"
                target="_blank"
                rel="noreferrer noopener"
            >
                ブログはこちら
            </a>
        </div>
        <div class="footer__under__access">
            <a href="https://www.google.co.jp/maps/place/%E3%80%92319-0111+%E8%8C%A8%E5%9F%8E%E7%9C%8C%E5%B0%8F%E7%BE%8E%E7%8E%89%E5%B8%82%E4%B8%AD%E9%87%8E%E8%B0%B7%EF%BC%95%EF%BC%90%EF%BC%91%E2%88%92%EF%BC%92%EF%BC%92%EF%BC%93" target="_blank" rel="noreferrer noopener" >アクセス</a>
        </div>
    </div>
</div>