<div class="top__priceList">
    <h2 class="top__priceList__title">料金表</h2>
    <table class="top__priceList__table" border="1" width="45%">
        <tr class="top__priceList__table__row">
            <td class="top__priceList__table__row__kind">種類</td>
            <td class="top__priceList__table__row__price">目安料金</td>
        </tr>
        <tr class="top__priceList__table__row">
            <td class="top__priceList__table__row__kind">
                インテリア<br class="sp">リペア
            </td>
            <td class="top__priceList__table__row__price">15,000円〜</td>
        </tr>
        <tr class="top__priceList__table__row">
            <td class="top__priceList__table__row__kind">
                ヘッドライト<br class="sp">リペア
            </td>
            <td class="top__priceList__table__row__price">8,000円〜</td>
        </tr>
        <tr class="top__priceList__table__row">
            <td class="top__priceList__table__row__kind">ホイール<br class="sp">リペア</td>
            <td class="top__priceList__table__row__price">20,000円〜</td>
        </tr>
        <tr class="top__priceList__table__row">
            <td class="top__priceList__table__row__kind">
                室内<br class="sp">クリーニング
            </td>
            <td class="top__priceList__table__row__price">20,000円〜</td>
        </tr>
    </table>
</div>