<div class="top">
    <%= image_tag 'title_img.jpg', class: "top__img" %>
    <h1 class="top__title">リペア工房WoodBase</h1>
    <div class="top__category">
        <div class="top__category__interior">
            <a href="/interior">インテリアリペア</a>
        </div>
        <div class="top__category__headlight">
            <a href="/headlight">ヘッドライトリペア</a>
        </div>
        <div class="top__category__wheel">
            <a href="/wheel">ホイールリペア</a>
        </div>
        <div class="top__category__indoorCleaning">
            <a href="/indoor_cleaning">室内クリーニング</a>
        </div>
    </div>
    <div class="top__main">
        <div class="top__main__recently">
            <div class="top__main__recently__content">
                <a href="/interior">
                    <p class="top__main__recently__content__aaa">
                        <p class="top__main__recently__content__title">
                            インテリアリペア
                        </p>
                        <span class="top__main__recently__content__befor">before</span>
                        <span class="top__main__recently__content__arrow">=></span>
                        <span class="top__main__recently__content__after">after</span>
                    </p>
                </a>
            </div>
            <div class="top__main__recently__content"><a href="/interior">ヘッドライトリペア(写真) before => after</a></div>
            <div class="top__main__recently__content"><a href="/interior">ホイールリペア(写真) before => after</a></div>
            <div class="top__main__recently__content"><a href="/interior">室内クリーニング(写真) before => after</a></div>
        </div>
    </div>
    <div class="top__priceList">
        <p class="top__priceList__title">料金表</p>
        <table class="top__priceList__table" border="1" width="45%">
            <tr class="top__priceList__table__row">
                <td class="top__priceList__table__row__kind">種類</th>
                <td class="top__priceList__table__row__price">目安料金</th>
            </tr>
            <tr class="top__priceList__table__row">
                <td class="top__priceList__table__row__kind">インテリアリペア</td>
                <td class="top__priceList__table__row__price">15,000円〜</td>
            </tr>
            <tr class="top__priceList__table__row">
                <td class="top__priceList__table__row__kind">ヘッドライトリペア</td>
                <td class="top__priceList__table__row__price">8,000円〜</td>
            </tr>
            <tr class="top__priceList__table__row">
                <td class="top__priceList__table__row__kind">ホイールリペア</td>
                <td class="top__priceList__table__row__price">20,000円〜</td>
            </tr>
            <tr class="top__priceList__table__row">
                <td class="top__priceList__table__row__kind">室内クリーニング</td>
                <td class="top__priceList__table__row__price">20,000円〜</td>
            </tr>
        </table>
    </div>
    <div class="top__info">
        <div class="top__info__blog">
            <a href="https://kobachoro.blog.fc2.com/blog-category-5.html" target="_blank" rel="noreferrer noopener">
                ブログはこちら
            </a>
        </div>
        <div class="top__info__phone">
            <span class="top__info__phone__title">電話番号：</span>
            <div class="top__info__phone__number"><a href="tel:090-9826-3740">📞</a>090-9826-3740</div>
        </div>
        <div class="top__info__maile">
            <a href="mailto:kobachoro@nifty.com">メールアドレス</a>
        </div>
        <div class="access"><a href="https://goo.gl/maps/zaJTizDEHMEHBKyQ7" target="_blank" rel="noreferrer noopener">アクセス</a></div>
    </div>
</div>